body {
    font-family: "Roboto Mono", monospace, sans-serif;
}
hr {
    width: 85%;
    opacity: 0.25;
    border-bottom: 1px solid #47e0f1;
    box-shadow: 0 20px 20px -20px #333;
}

h2,
h3,
h4 {
    font-weight: bolder;
    color: #efb20a;
}

a {
    color: #47e0f1;
}
a:hover {
    text-decoration: none;
    color: #47e0f1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6726891440169818) 24%,
        rgba(0, 0, 0, 0.5466387238489145) 86%,
        rgba(0, 0, 0, 0.008823597798494398) 100%
    );
    z-index: 1;
}
.home {
    font-size: 1.5rem;
}
.home::before {
    content: "-";
}
.home::after {
    content: "-";
}
.home:hover:before {
    color: #efb20a;
    content: "{";
}
.home:hover:after {
    color: #efb20a;
    content: "}";
}

.icon {
    margin: 5px;
    width: 60px;
    height: 60px;
}
.carousel-control-next {
    height: 50px;
    width: 50px;
    margin-top: -85px;
    margin-right: 35%;
    border-radius: 50%;
    background-color: #000837;
    border-radius: 25%;
}
.carousel-control-next:hover {
    border: 3px solid #47e0f1;
}

.carousel-control-prev {
    height: 50px;
    width: 50px;
    margin-top: -85px;
    margin-left: 35%;
    background-color: #000837;
    border-radius: 25%;
}
.carousel-control-prev:hover {
    border: 3px solid #47e0f1;
}

.card {
    border-color: #000837;
    height: max-content;
}

#nav {
    z-index: 3;
    background-color: black;
    opacity: 0.98;
    a {
        color: #47e0f1;
    }
}
#hero-content {
    position: relative;
    top: 0px;
    left: 0px;
    min-height: 300px;
    background: url(../img/hero1.jpg);
    background-size: cover;
    h1 {
        z-index: 2;
        font-weight: bolder;
        font-size: 3rem;
        color: #efb20a;
    }
}
#me {
    border-radius: 50%;
    border: 2px solid black;
}
#aboutMe {
    p {
        a {
            font-size: 1em;
        }
    }
}
#credit-link {
    font-size: 1em;
}
#emailSendResult {
    height: 1.5rem;
    font-size: large;
    font-weight: bold;
}

@media only screen and (max-width: 992px) {
    #hero-content {
        h1 {
            font-weight: bolder;
            font-size: 2.5rem;
            color: #efb20a;
        }
    }
    #nav {
        li:last-of-type {
            margin-bottom: 5px;
            border-bottom: 1px solid #47e0f1;
            box-shadow: 0 20px 20px -20px #333;
        }
    }
    .carousel-control-next {
        margin-right: 30%;
        border: 1px solid;
    }
    .carousel-control-prev {
        margin-left: 30%;
    }
}
@media only screen and (max-width: 768px) {
    #hero-content {
        max-height: 150px;
    }
    .carousel-control-next {
        margin-right: 20%;
    }
    .carousel-control-prev {
        margin-left: 20%;
    }
}
@media screen and (max-width: 540px) {
    .carousel-control-next {
        margin-right: 10%;
    }
    .carousel-control-prev {
        margin-left: 10%;
    }
}
